project:
  type: website
  output-dir: docs
  render: 
    - "*.qmd"

execute: 
  freeze: auto
  
website:
  title: "Applied Data Science for Cities"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: syllabus/index.qmd
        text: "Syllabus"
      - href: labs/index.qmd
        text: "Labs"
      - href: howto/index.qmd
        text: "How To"
      - href: resources/index.qmd
        text: "Resources"
    search: true
  favicon: favicon.png
  page-footer:
    right: "Made with R and [Quarto](https://quarto.org/)"

  sidebar:
    - title: "Labs"
      contents:
        - section: "Labs"
          contents:
            - text: "Schedule"
              file: labs/index.qmd
            - text: "01 Cambridge Building Energy: R, Quarto, dplyr essentials"
              file: labs/lab1.qmd
            - text: "02 Opportunity Zones: tidyverse, ggplot2 packages"
              file: labs/lab2.qmd
            - text: "03 Racial Distribution: tidycensus, tidyr packages"
              file: labs/lab3.qmd
            - text: "04 Airbnb in Chicago: plotly and leaflet packages"
              file: labs/lab4.qmd
            - text: "05 Walkable Environment: sf, osmdata packages"
              file: labs/lab5.qmd
            - text: "06 Shiny Example"
              file: labs/lab6.qmd

    
    - title: "How To"
      contents:
        - section: "Get Started"
          contents:
            - text: "Introduction"
              file: howto/index.qmd
            - text: "Set Up R and RStudio"
              file: howto/setupr.qmd
        - section: "Share Your Work"
      

    - title: "Resources"
      contents:
        - section: "Overview"
          contents:
            - resources/index.qmd
        - section: "Resources"
          contents:
            - text: "Textbooks"
              file: resources/textbook.qmd
            - text: "Urban Data Analysis"
              file: resources/analysis.qmd
            - text: "Data Sources"
              file: resources/data.qmd
            - text: "Inspiration"
              file: resources/inspiration.qmd

format:
  html:
    theme:
      light: [flatly]
    css: 
      - styles.css
    toc: true

editor: visual